<% action = action_type == :new ? subs_url : sub_url(@sub) %>
<% method_add = action_type == :new ? "" : '<input type="hidden" name="_method" value="patch">'.html_safe %>

<form class="form" action="<%= action %>" method="post">
<%= method_add %>
<%= auth_token %>

<label>
  Title:<br>
  <input class="form-input" type="text" name="sub[title]"
    size="50" value="<%= @sub.title%>">
</label><br><br>

<label>
  Description:<br>
  <textarea class="form-input" name="sub[description]"
  cols="50" rows="10"><%= @sub.description %></textarea>
</label><br><br>

<input  class="btn btn-confirm" type="submit"
  value=" <%= action_type == :new ? "Create Sub" : "Edit Sub" %>">

<%= link_to "Cancel", action_type == :new ? subs_url : sub_url(@sub) %>

</form>
