<h1 class="page-title"><%= @sub.title.titleize %></h1>

<section class="about">
  <p class="section-title">About this sub:</p>
  <p><%= @sub.description %></p>
</section>

<section>
  <p class="section-title">Posts:</p>
  <% @sub.posts.each do |post| %>
    <%= link_to post.title, post_url(post) %>
    <p class="author">Posted by: <%= post.author.username %></p>
    <br>
  <% end %>

  <strong><%= link_to "View all subs", subs_url %></strong>
</section> 
