<h1 class="page-title"><%= @post.title %></h1>

<section>
  <div class="content">
    <%=bold(@post.content)%>
  </div>
</section>

<section>
  <h2 class="section-title"> Comments:</h2>

  <% @top_comments.each do |top_comment| %>
    <div class="comment">
    <% comments = top_comment.comments_array(@all_comments)%>
      <%= render "nest_comments", comment_array: comments, indent: 0 %>
    </div>
  <% end %>
</section>

<section>
  <h2 class="section-title">Add a New Comment:</h2>
  <%= render 'comment_form', comment: Comment.new, action_type: :new %>
</section>

<section>
  <h2 class="section-title">Related Subs:</h2>
  <% @post.subs.each do |sub| %>
    <div><%= link_to sub.title, sub_url(sub) %></div>
  <% end %>
</section>
